body{
    text-align:center;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, clean, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    color: #330000;
}
h2, h3, h4 {
    margin-bottom: 0;
}
p {
    margin: 0 0 1em 0;
}
a {
    color:#663333;
}
img {
    border: 0;
}

header{
    width:100%;
}

footer{
    clear: both;
    border-top: 1px solid #666;
    margin: 20px 0 0;
    padding: 10px;
    text-align: center;
    font-size: 83%;
    color: #333;
}


#wrapper{
    margin: 0 auto;
    width:1000px;
}


#tonkatsu-container{
    width:550px;
    float: left;
    text-align:left;
}

#side {
    width:380px;
    float:left;
    margin:50px 10px 0 0;
}

#threads {
  margin: 0 0 20px;
}

.tonkatsu{
    margin: 0 0 30px;
}
